@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  --primary-color: #7C3AED;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  padding: 0.5rem 1rem;
}

.container-centre {
  max-width: 700px;
  margin: auto;
}

.link {
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.link-primary {
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  color: aliceblue;
}

.link-secondary {
  color: var(--primary-color);
  border-radius: 0.5rem;
  border: 1px solid var(--primary-color);
}

